* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 40px;
}

.homePage {
  margin-top: 40px;
}

.homePageTitle {
  margin-top: 40px;
}

.homePageBody {
  margin-top: 40px;
}

.paragraphs {
  margin-bottom: 20px;
}

.navBarLinks {
  list-style-type: none;
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

.listItem {
  border-right: 2px solid gray;
  padding-left: 10px;
  padding-right: 10px;
}

.listItem:last-child {
  border-right: none;
}

.inputBtn {
  margin-top: 5px;
  background-color: #858693;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.calculatorSec {
  margin: 30px;
  display: grid;
  grid-template-columns: auto auto;
}

.heading {
  margin-left: 10px;
}

.firstColumn {
  color: rgb(36, 41, 47);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.addColSpan {
  grid-column: span 2;
}

.grid-item {
  background-color: #e0e0e0;
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}

.operations {
  background-color: #d88138;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.quotes {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
